<h1><%= @question.test.title %> Question</h1>

<p>
  <%= @question.body %>
</p>

<h2>Answers</h2>
<% if logged_in? %>
  <%= link_to 'New answer', new_question_answer_path(@question) %>
<% end %>

<ol>
  <%= render @question.answers %>
</ol>
<% if logged_in? %>
  <%= link_to 'Edit', edit_question_path(@question) %>
<% end %>
<%= link_to 'Back', test_path(@question.test) %>