<h1><%= t('.header') %></h1>
<p>
	<%= link_to t('helpers.submit.test.new'), new_admin_test_path %>
</p>

<table class="table">
	<tr>
		<th class="sort-by-title pointer">
      <%= t('helpers.label.test.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
		<th><%= t('helpers.label.test.level') %></th>
		<th><%= t('helpers.label.test.category_id') %></th>
		<th colspan="4"><%= t('helpers.label.test.action') %></th>
	</tr>

	<%= render @tests %>
</table>