<h1 class="display-4"><%= t('tests.index.header') %></h1>

<table class="table">
	<tr>
    <th><%= t('helpers.label.test.title') %></th>
    <th><%= t('helpers.label.test.level') %></th>
    <th><%= t('helpers.label.test.category_id') %></th>
    <th><%= t('helpers.label.test.action') %></th>
	</tr>

	<%= render @tests %>
</table>