<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.username %> <%= link_to 'Guru', root_path %> <%= link_to 'Log out', sign_out_path, method: :delete %></b></p>
    <% else %>
      <p class="nav user"><%= link_to 'Register', signup_path %> <%= link_to 'Log in', login_path %></p>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
